[Desktop Entry]
Name=Kora-dark
Comment=KDE Plasma desktop style theme.

X-KDE-PluginInfo-Author=tarma
X-KDE-PluginInfo-Name=Kora-dark
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0


[ContrastEffect]
enabled=true
opacity=0.7
contrast=0.2
intensity=0.5
saturation=10
Brightness=0.2
